<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>lms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>org.controllers.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentControler</display-name>
    <servlet-name>AddStudentControler</servlet-name>
    <servlet-class>org.controllers.AddStudentControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentControler</servlet-name>
    <url-pattern>/AddStudentControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>org.controllers.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>org.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>org.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStudents</display-name>
    <servlet-name>DisplayStudents</servlet-name>
    <servlet-class>org.controllers.DisplayStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStudents</servlet-name>
    <url-pattern>/DisplayStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayGrades</display-name>
    <servlet-name>DisplayGrades</servlet-name>
    <servlet-class>org.controllers.DisplayGrades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayGrades</servlet-name>
    <url-pattern>/DisplayGrades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClassController</display-name>
    <servlet-name>AddClassController</servlet-name>
    <servlet-class>org.controllers.AddClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassController</servlet-name>
    <url-pattern>/AddClassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>org.controllers.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTeacher</display-name>
    <servlet-name>DisplayTeacher</servlet-name>
    <servlet-class>org.controllers.DisplayTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTeacher</servlet-name>
    <url-pattern>/DisplayTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubject</display-name>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>org.controllers.AddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySubject</display-name>
    <servlet-name>DisplaySubject</servlet-name>
    <servlet-class>org.controllers.DisplaySubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySubject</servlet-name>
    <url-pattern>/DisplaySubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>org.controllers.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapClassToSubject</display-name>
    <servlet-name>MapClassToSubject</servlet-name>
    <servlet-class>org.controllers.MapClassToSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapClassToSubject</servlet-name>
    <url-pattern>/MapClassToSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignSubjectsToClass</display-name>
    <servlet-name>AssignSubjectsToClass</servlet-name>
    <servlet-class>org.controllers.AssignSubjectsToClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSubjectsToClass</servlet-name>
    <url-pattern>/AssignSubjectsToClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTeacher</display-name>
    <servlet-name>AssignTeacher</servlet-name>
    <servlet-class>org.controllers.AssignTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTeacher</servlet-name>
    <url-pattern>/AssignTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignteacherController</display-name>
    <servlet-name>AssignteacherController</servlet-name>
    <servlet-class>org.controllers.AssignteacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignteacherController</servlet-name>
    <url-pattern>/AssignteacherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReport</display-name>
    <servlet-name>ClassReport</servlet-name>
    <servlet-class>org.controllers.ClassReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReport</servlet-name>
    <url-pattern>/ClassReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReportController</display-name>
    <servlet-name>ClassReportController</servlet-name>
    <servlet-class>org.controllers.ClassReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReportController</servlet-name>
    <url-pattern>/ClassReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>org.controllers.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectController</display-name>
    <servlet-name>AddSubjectController</servlet-name>
    <servlet-class>org.controllers.AddSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectController</servlet-name>
    <url-pattern>/AddSubjectController</url-pattern>
  </servlet-mapping>
</web-app>