<div class="container-fluid">
<img src="/assets/images/slider5.jpg" class="d-block w-100" alt="...">


  <div class="row">
    <div class="col-3">
      <div class="shadow p-3 mb-3 bg-body-tertiary rounded sidebar">
        <div class="heading p-2 rounded">Categories</div>
        <ul class="p-2">
          <li *ngFor="let category of categories"><a (click)="getProducts(category)">{{category.categoryname}}</a></li>
          
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="shadow p-3 mb-3 bg-body-tertiary rounded sidebar">
        <div class="heading p-2 rounded">Products</div>
        <div style="height: 250px;" class="mx-auto">
          <div class="gallery" *ngFor="let product of products">
            <a (click)="productdetail(product)" style="cursor: pointer;">
              <img src='http://localhost:8080/productimages/{{product.image}}' alt="{{product.productname}}" width="600" height="400">
            </a>
            <div class="desc">{{product.productname}}</div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-13 p-3 justified-content">
      <div class="heading p-2 rounded">Overview</div>
      <p>
        Medicare is an e-commerce medicine store that provides a convenient and accessible platform for customers to
        purchase pharmaceutical products and healthcare essentials online. As a trusted and reliable online pharmacy,
        Medicare aims to bridge the gap between customers and the healthcare products they need, ensuring that people
        have easy access to genuine medications, wellness products, and medical supplies from the comfort of their
        homes.
      </p>
      <p>
        Key features of Medicare include an extensive product catalog encompassing prescription and over-the-counter
        medications, vitamins, supplements, first-aid supplies, and personal care items. The platform offers a
        user-friendly interface that allows customers to search for specific medicines, browse through different
        categories, and find detailed product information. Additionally, Medicare's website or mobile app includes
        helpful tools such as drug interactions checker and dosage guidelines to promote responsible medication use.
      </p>
      
      <p>
        Moreover, Medicare takes customer privacy seriously and employs advanced encryption methods to protect sensitive
        information. The platform adheres to data protection regulations and maintains a secure environment for all
        transactions and communications.
      </p>
      <p>
        With a commitment to customer satisfaction and well-being, Medicare aims to redefine the way people access
        healthcare products, making it more efficient, reliable, and accessible. By leveraging the power of technology
        and adhering to the highest standards of service, Medicare strives to be a leading e-commerce medicine store,
        providing a seamless shopping experience and contributing to the overall well-being of its customers.
      </p>
    </div>

  </div>
</div>