<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Register Here!</div>
                <div class="card-body">
                    <form [formGroup]="userRegForm" (ngSubmit)="addUser()">

                        <div class="mb-3 row">
                            <label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                              <input type="text" formControlName="username" class="form-control" id="inputUsername">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                              <input type="password" formControlName="password" class="form-control" id="inputPassword">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputEmail" class="col-sm-3 col-form-label">E-mail</label>
                            <div class="col-sm-9">
                              <input type="text" formControlName="email" class="form-control" id="inputEmail">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputphone" class="col-sm-3 col-form-label">Phone No.</label>
                            <div class="col-sm-9">
                              <input type="text" formControlName="phoneNo" class="form-control" id="inputphone">
                            </div>
                        </div>

                        <input type="submit" value="Register Here" class="btn btn-success" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a routerLink="" class="btn btn-primary">Back</a>
                        <br/>
                        
                        <br/>
                        <div [innerHTML]="msg"></div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>