<div class="container-fluid p-3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">

            <table class="table">


                <tr>
                    <th>No.</th>
                    <th>Seat No.</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Cinema Seats</td>
                    <td><input type="text" [(ngModel)]="seatNumber" name="seatNumber" class="form-control"
                            placeholder="Enter seatno"></td>
                    <td><input type="text" [(ngModel)]="seatType" name="seatType" class="form-control"
                            placeholder="Enter Seat Type"></td>
                    <td><input type="text" [(ngModel)]="price" name="price" class="form-control"
                            placeholder="Enter Price"></td>
                    <td><button class="btn btn-primary" (click)="addSeat()"> Add Seat</button></td>
                </tr>

                <tr *ngFor="let seat of seats, let i=index">
                    <td>{{i+1}}</td>
                    <td>{{seat.seatNumber}}</td>
                    <td>{{seat.seatType}}</td>
                    <td>{{seat.price}}</td>
                    <td><a class="icon" (click)="openModifyPopup(seat)"><i class="fa-solid fa-pen"></i></a>&nbsp;
                        <a class="icon" (click)="deleteShow(seat.cinemaSeatID)"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            </table>

            <!--Update Modal start-->
            <div class="modal" tabindex="-1" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Seat</h5>
                            <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Seat Number</label>
                                <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="seatNumber" name="seatNumber" class="form-control"
                                        placeholder="Enter Show Date">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Seat Type</label>
                                <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="seatType" name="seatType" class="form-control"
                                        placeholder="Enter Seat Type">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Seat Price</label>
                                <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="price" name="price" class="form-control"
                                        placeholder="Enter Seat Price">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
                                <button type="button" class="btn btn-primary" (click)="updateSeat()">Update
                                    Seat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Update Modal end-->

            </div>
            <div class="col-1"></div>
        </div>
    </div>