<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="container">

			<h1>
				Change Password
			</h1>

			<form action="changepasswordAdmin" method="post">
				<h4>New Password</h4>
				<input type="text" id="password" name="password"
					class="form-control">
					
					<br> <input type="submit"
					value="Submit" class="btn btn-primary btn-addtocart" />
					
					<a href="home">Go Back</a>
					
			</form>


		</div>
	</section>
</body>
</html>