<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="container">

			<h1>Purchase Report by Category</h1>

			<form action="sendFootwearCategory" class="contact-form"
				method="post">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label>FootWear category</label> <select class="form-control"
								id="footwear_category" name="category">
								<option th:each="footwearCategory : ${footwearCategories}"
									th:value="${footwearCategory.id}"
									th:text="${footwearCategory.category_name}"></option>
							</select>

						</div>
					</div>

					<div class="w-100"></div>
					<div class="w-100"></div>
					<div class="col-sm-12">
						<div class="form-group">
							<input type="submit" value="Submit" class="btn btn-primary">
							<a href="home">Go Back</a>
						</div>
					</div>
				</div>
			</form>

			<table class="table">
				<thead>
					<tr>
						<th>S.No.</th>
						<th>Footwear Name</th>
						<th>Footwear Size</th>
						<th>Footwear Quantity</th>
						<th>Amount</th>
						<th>Order Date</th>
						

					</tr>
				</thead>

				<tbody>
					<tr th:each="orderDetail : ${orderDetails}">
						<td th:text="${orderDetail.orderDetails_id}"></td>
						<td th:text="${orderDetail.footwear.name}"></td>
						<td th:text="${orderDetail.size}"></td>
						<td th:text="${orderDetail.quantity}"></td>
						<td th:text="${orderDetail.amount}"></td>
						<td th:text="${orderDetail.order.createdOn}"></td>
						

					</tr>
				</tbody>
			</table>

		</div>
	</section>


</body>
</html>