<div class="container">
    <h1 class="display-5 fw-bold">Welcome to Quiz!</h1>
    <h4>Rules:</h4>
    <ol>
        <li>Each question is of 2 marks.</li>
        <li>You will have 1 hour to complete the quiz.</li>
        <li>Refershing the page will reset the quiz.</li>
        <li>There is no negative marking for wrong answer.</li>
    </ol>
    <h1 style="font-family: cursive;text-align: center;">All the best!!</h1>
    <button class="btn btn-primary btn-lg" routerLink="/quiz">Start the Quiz!</button>
</div>
