<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.contoller.login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>AirlineBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>org.contoller.login.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>org.contoller.login.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>org.contoller.login.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSource</display-name>
    <servlet-name>AddSource</servlet-name>
    <servlet-class>org.controller.source_destination.AddSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSource</servlet-name>
    <url-pattern>/AddSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDestination</display-name>
    <servlet-name>AddDestination</servlet-name>
    <servlet-class>org.controller.source_destination.AddDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDestination</servlet-name>
    <url-pattern>/AddDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySource</display-name>
    <servlet-name>DisplaySource</servlet-name>
    <servlet-class>org.controller.source_destination.DisplaySource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySource</servlet-name>
    <url-pattern>/DisplaySource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDestination</display-name>
    <servlet-name>DisplayDestination</servlet-name>
    <servlet-class>org.controller.source_destination.DisplayDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDestination</servlet-name>
    <url-pattern>/DisplayDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoute</display-name>
    <servlet-name>AddRoute</servlet-name>
    <servlet-class>org.controller.routes.AddRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoute</servlet-name>
    <url-pattern>/AddRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRouteController</display-name>
    <servlet-name>AddRouteController</servlet-name>
    <servlet-class>org.controller.routes.AddRouteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRouteController</servlet-name>
    <url-pattern>/AddRouteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRoutes</display-name>
    <servlet-name>DisplayRoutes</servlet-name>
    <servlet-class>org.controller.routes.DisplayRoutes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRoutes</servlet-name>
    <url-pattern>/DisplayRoutes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAirline</display-name>
    <servlet-name>AddAirline</servlet-name>
    <servlet-class>org.controller.airline.AddAirline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirline</servlet-name>
    <url-pattern>/AddAirline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAirlines</display-name>
    <servlet-name>DisplayAirlines</servlet-name>
    <servlet-class>org.controller.airline.DisplayAirlines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAirlines</servlet-name>
    <url-pattern>/DisplayAirlines</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlight</display-name>
    <servlet-name>AddFlight</servlet-name>
    <servlet-class>org.controller.flights.AddFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlight</servlet-name>
    <url-pattern>/AddFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightController</display-name>
    <servlet-name>AddFlightController</servlet-name>
    <servlet-class>org.controller.flights.AddFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightController</servlet-name>
    <url-pattern>/AddFlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFlights</display-name>
    <servlet-name>DisplayFlights</servlet-name>
    <servlet-class>org.controller.flights.DisplayFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFlights</servlet-name>
    <url-pattern>/DisplayFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketAvailability</display-name>
    <servlet-name>TicketAvailability</servlet-name>
    <servlet-class>org.controller.client.TicketAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketAvailability</servlet-name>
    <url-pattern>/TicketAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicket</display-name>
    <servlet-name>BookTicket</servlet-name>
    <servlet-class>org.controller.client.BookTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicket</servlet-name>
    <url-pattern>/BookTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLogin</display-name>
    <servlet-name>ClientLogin</servlet-name>
    <servlet-class>org.controller.client.ClientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLogin</servlet-name>
    <url-pattern>/ClientLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicketController</display-name>
    <servlet-name>BookTicketController</servlet-name>
    <servlet-class>org.controller.client.BookTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketController</servlet-name>
    <url-pattern>/BookTicketController</url-pattern>
  </servlet-mapping>
</web-app>