<div class="container-fluid p-3 grad">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div>
                <div class="icon"><i class="fa-solid fa-user"></i>
                <br>Sign In</div>
                <form class="form-floating">
                    <div class="form-floating mb-3 mt-3">
                        <input type="email" [(ngModel)]="username" name="username" class="form-control" id="email" placeholder="Enter email" name="email">
                        <label for="email">Email</label>
                    </div>

                    <div class="form-floating mt-3 mb-3">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                        <label for="pwd">Password</label>
                    </div>

                    <button class="btn btn-primary" (click)="checkUser()"><i class="fa-solid fa-right-to-bracket"></i> Sign In</button>
                </form>
            </div>
        </div>
        
    </div>
</div>