<div class="row">
    <div class="col">
        <div><strong style="font-size: 1.8em;"> {{show.movie.moviename}}</strong></div>
    </div>
    <div class="col"> </div>
    <div class="col">
        <strong style="font-size: 1.2em;">Movie Hall</strong>
    </div>
</div>
<div class="row">
    <div class="col">
        <div>
            <strong class="text-muted"> {{convertMinuteToHour(show.movie.duration)}}</strong>
        </div>
    </div>
    <div class="col">
        <div>
            <strong class="text-muted">{{show.showdate}}. &nbsp; {{show.startTime}} -
                {{show.endTime}} </strong>
        </div>
        <strong class="text-muted">{{show.movie.certification}}</strong>
    </div>
    <div class="col">
        <div>
            <strong class="text-muted"> NMS Cinema</strong>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <strong style="font-size: 1.5em;">Choose no. of Tickets</strong>
    </div>
    <div class="col">
        <div class="qty mt-0">
            <span class="minus bg-dark" (click)="onMinus(normalTicket,'normalTicket')">-</span>
            <span class="count" id="normalTicket">{{normalTicket}}</span>
            <span class="plus bg-dark" (click)="onPlus(normalTicket,'normalTicket')">+</span>
        </div>
        <strong>350Rs</strong>
    </div>

    <div class="col">
    </div>
</div>

<div class="row">
    <div class="col">
        <strong style="font-size: 1.5em;">Choose Hall Seats</strong>
        <div class="moviehall">
            <ul class="showcase">
                <li>
                    <div class="seat"></div>
                    <small>N/A</small>
                </li>

                <li>
                    <div class="seat selected"></div>
                    <small>Selected</small>
                </li>

                <li>
                    <div class="seat occupied"></div>
                    <small>Occupied</small>
                </li>
                <li>
                    <div class="seat vip"></div>
                    <small>VIP</small>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="screen" style="display:inline-flex;"></div>
            <div class="moviehall">

                <div class="row">
                    <div class="col-md-2 offset-md-0 mt-1" *ngFor="let showseat of showSeats; let i = index">
                        <div [ngClass]="{'selected': showseat.active,'vip':showseat.seatType ==2 && !showseat.active,'':!showseat.active,'occupied':bookedSeats.includes(showseat)}"
                            class="seat" (click)="onSelected(showseat)" style="color: white;">
                            <h3>{{showseat.seatNumber}}</h3>

                        </div>
                    </div>

                    <!--
                div ngfor
                  div med seat
                   br ng if I % n
                /div
                 brug displayline
  
  
               -->
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div  style="background-color: rgb(43, 42, 42); padding: 28px; color: white;" class="col-md-10 offset-md-1 mt-1">
    <div class="row">
      <div class="col">
        <h5>TICKETS</h5>
      </div>
      <div class="col">
        <div>
          <h5>{{avialableSeat}} Tickets</h5>
        </div>
      </div>
      <div class="col">
        <h5>&nbsp;&nbsp; Total : {{totalTicketPrice}} Rs</h5>
      </div>
      <div class="col">
          <button class="btn-lg btn-primary" (click)="onBooking()">Book</button>
      </div>
    </div>
</div>